@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans", sans-serif;

  /* 🔥 PRIMARY */
  --primary-light: #cccccc;

  /* 🔥 SECONDARY */
  --secondary: #bac4cb;
  --primary: #3689cc;
  --primary-soft: #94b3cc;

  /* 🔥 NEUTRAL */
  --dark: #0d0b14;

  /* 🔥 SEMANTIC */
  --error: #cb8a8e;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* 🔥 GLASS EFFECT */
.glass-panel {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

/* 🔥 SCROLLBAR HIDDEN */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}